In [26]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [27]:
data = pd.read_csv("train.csv")

In [28]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [29]:
sex_mapping = {'male': 0, 'female': 1}
data['Sex'] = data['Sex'].map(sex_mapping)

In [30]:
del data['PassengerId']
del data['Name']
del data['SibSp']
del data['Parch']
del data['Ticket']
del data['Fare']
del data['Cabin']
del data['Embarked']

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 28.0 KB

In [32]:
data = data.dropna()

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    int64
 1   Pclass    714 non-null    int64
 2   Sex       714 non-null    int64
 3   Age       714 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 27.9 KB

In [34]:
train, test = train_test_split(data, test_size=0.2)

In [35]:
train_y = train['Survived']
train_x = train[['Pclass','Sex','Age']]
test_y = test['Survived']
test_x = test[['Pclass','Sex','Age']]

In [36]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 571 entries, 61 to 113
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  571 non-null    int64
 1   Pclass    571 non-null    int64
 2   Sex       571 non-null    int64
 3   Age       571 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 22.3 KB

In [37]:
from sklearn.neighbors import KNeighborsClassifier
# k近傍法モデルの構築
model = KNeighborsClassifier()
# モデルの学習
model.fit(train_x, train_y)

KNeighborsClassifier()

In [38]:
# 正解率の算出
model.score(test_x, test_y)

0.8181818181818182

In [39]:
from sklearn.linear_model import LogisticRegression
# ロジスティック回帰モデルの構築
model = LogisticRegression()
# モデルの学習
model.fit(train_x, train_y)

LogisticRegression()

In [40]:
# 正解率の算出
model.score(test_x, test_y)

0.8671328671328671

In [41]:
from sklearn.tree import DecisionTreeClassifier
# 決定木モデルの構築
model = DecisionTreeClassifier()
# モデルの学習
model.fit(train_x, train_y)

DecisionTreeClassifier()

In [42]:
# 正解率の算出
model.score(test_x, test_y)

0.8741258741258742

In [43]:
from sklearn.svm import SVC
# 非線形SVMモデルの構築
model = SVC()
model.fit(np.array(train_x),np.array(train_y))

SVC()

In [44]:
# 正解率の算出
model.score(test_x, test_y)

0.6573426573426573

In [45]:
from sklearn.naive_bayes import GaussianNB
# ナイーブベイズモデルの構築
model = GaussianNB()
# モデルの学習
model.fit(train_x, train_y)

GaussianNB()

In [46]:
# 正解率の算出
model.score(test_x, test_y)

0.8671328671328671

In [47]:
from sklearn.neural_network import MLPClassifier
# ニューラルネットワークモデルの構築
model = MLPClassifier(max_iter=1000)
# モデルの学習
model.fit(train_x, train_y)

MLPClassifier(max_iter=1000)

In [48]:
# 正解率の算出
model.score(test_x, test_y)

0.8741258741258742

In [49]:
from sklearn.ensemble import GradientBoostingClassifier
# 勾配ブースティング決定木モデルの構築
model = GradientBoostingClassifier()
# モデルの学習
model.fit(train_x, train_y)

GradientBoostingClassifier()

In [50]:
# 正解率の算出
model.score(test_x, test_y)

0.8671328671328671

In [63]:
depths = range(1, 21)
accuracy = []
for depth in depths:
    model = DecisionTreeClassifier(max_depth=depth)
    model.fit(train_x, train_y)
    accuracy.append(model.score(test_x, test_y))

In [64]:
pd.DataFrame({'depth':range(1,21),'accuracy':accuracy})

    depth  accuracy
0       1  0.860140
1       2  0.832168
2       3  0.846154
3       4  0.846154
4       5  0.825175
5       6  0.846154
6       7  0.832168
7       8  0.846154
8       9  0.853147
9      10  0.860140
10     11  0.853147
11     12  0.867133
12     13  0.874126
13     14  0.874126
14     15  0.874126
15     16  0.874126
16     17  0.874126
17     18  0.874126
18     19  0.874126
19     20  0.874126

In [62]:
accu.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
depth,1.00000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.00000,11.000000,12.000000,13.000000,14.000000,15.000000,16.000000,17.000000,18.000000,19.000000,20.000000
accuracy,0.86014,0.832168,0.846154,0.846154,0.825175,0.846154,0.832168,0.846154,0.853147,0.86014,0.853147,0.867133,0.874126,0.874126,0.874126,0.874126,0.874126,0.874126,0.874126,0.874126

In [101]:
from sklearn.neural_network import MLPClassifier
# ニューラルネットワークモデルの構築
model = MLPClassifier(hidden_layer_sizes=(200,),
    activation='tanh',
    solver='adam',
    alpha=0.0001,
    batch_size='auto',
    learning_rate='constant',
    learning_rate_init=0.001,
    power_t=0.5,
    max_iter=2000,
    shuffle=True,
    random_state=None,
    tol=0.0001,
    verbose=False,
    warm_start=False,
    momentum=0.9,
    nesterovs_momentum=True,
    early_stopping=False,
    validation_fraction=0.1,
    beta_1=0.9,
    beta_2=0.999,
    epsilon=1e-08,
    n_iter_no_change=10)
# モデルの学習
model.fit(train_x, train_y)

MLPClassifier(activation='tanh', hidden_layer_sizes=(200,), max_iter=2000)

In [113]:
# 正解率の算出
model.score(test_x, test_y)

0.8741258741258742